<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Add Songs</title>
</head>
<body>
	<h1>Add your songs here</h1>
	<form action="/addsong" method="post">
		<label>Song name: </label>
		<input type="text" name="songName"/>
		<br/><br/>
		<label>Song Artist: </label>
		<input type="text" name="songArtist"/>
		<br/><br/>
		<label>Song Genre: </label>
		<input type="text" name="songGenre"/>
		<br/><br/>
		<label>Song Link: </label>
		<input type="text" name="songLink"/>
		<br/><br/>
		<input type="submit" value="Add Song"/>
	</form>
</body>
</html>