<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>View Songs</title>
</head>
<body>
	<h1>Songs</h1>
	<table border="1">
	
		<tr>
			<td>Song Name</td>
			<td>Song Artist</td>
			<td>Song Genre</td>
			<td>Song Link</td>
		</tr>
		
		<tr th:each="song : ${songs}">
			<td th:text="${song.songName}"></td>
			<td th:text="${song.songArtist}"></td>
			<td th:text="${song.songGenre}"></td>
			<td> 
				<audio controls>
	            	<source th:src="${song.songLink}" type="audio/mp3">
        		</audio>
			</td>
		</tr>
	</table>
</body>
</html>